#!/bin/sh
set -eu

omarchy-pkg-add ansible
omarchy-pkg-add ansible-lint
omarchy-pkg-add age
omarchy-pkg-add go
omarchy-pkg-add podman
omarchy-pkg-add sops
omarchy-pkg-add terraform
omarchy-pkg-add yamllint
omarchy-pkg-add visual-studio-code-bin
