{{- if eq .chezmoi.os "linux" -}}
{{- $linux := .packages.linux -}}
{{- $host := get $linux.hosts .chezmoi.hostname | default dict -}}
{{- $desktopFamily := get $host "desktop_family" | default "none" -}}
{{- if eq $desktopFamily "gnome" -}}
#!/bin/sh
set -eu

if ! command -v dconf >/dev/null 2>&1; then
  exit 0
fi

if [ -z "${DBUS_SESSION_BUS_ADDRESS:-}" ]; then
  exit 0
fi

case "${XDG_CURRENT_DESKTOP:-}" in
  *GNOME*)
    ;;
  *)
    exit 0
    ;;
esac

dconf load /org/gnome/desktop/session/ < "{{ .chezmoi.sourceDir }}/gnome/dconf/desktop-session.ini"
dconf load /org/gnome/shell/ < "{{ .chezmoi.sourceDir }}/gnome/dconf/shell.ini"
dconf load /org/gnome/settings-daemon/plugins/power/ < "{{ .chezmoi.sourceDir }}/gnome/dconf/power.ini"
{{ end -}}
{{ end -}}
