{{- if eq .chezmoi.os "linux" -}}
{{- $linux := .packages.linux -}}
{{- $host := get $linux.hosts .chezmoi.hostname | default dict -}}
{{- $desktopFamily := get $host "desktop_family" | default "none" -}}
{{- $desktopPackages := get $linux.desktop_packages $desktopFamily | default (list) -}}
{{- $aptCoreCommon := $linux.apt_core_common | default (list) -}}
{{- $aptGuiCommon := $linux.apt_gui_common | default (list) -}}
{{- $rolePackages := $linux.role_packages | default dict -}}
{{- $roles := get $host "roles" | default (list) -}}
{{- $aptExtra := get $host "apt_extra" | default (list) -}}
{{- if or $aptCoreCommon $aptGuiCommon $desktopPackages $roles $aptExtra -}}
#!/bin/sh
set -eu

sudo apt-get update
sudo apt-get install -y \
{{- range $aptCoreCommon }}
  {{ . }} \
{{- end }}
{{- range $aptGuiCommon }}
  {{ . }} \
{{- end }}
{{- range $desktopPackages }}
  {{ . }} \
{{- end }}
{{- range $roles }}
{{- $roleName := . -}}
{{- range (get $rolePackages $roleName | default (list)) }}
  {{ . }} \
{{- end }}
{{- end }}
{{- range $aptExtra }}
  {{ . }} \
{{- end }}

{{ end -}}
{{ end -}}
