{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh
set -eu

if ! command -v systemctl >/dev/null 2>&1; then
  exit 0
fi

if ! systemctl --user show-environment >/dev/null 2>&1; then
  exit 0
fi

systemctl --user enable --now ssh-agent.socket >/dev/null
{{ end -}}
