#!/bin/sh
set -eu

omarchy-pkg-add flatpak
flatpak remote-add --if-not-exists flathub \
  https://flathub.org/repo/flathub.flatpakrepo
flatpak install --noninteractive flathub app.zen_browser.zen
omarchy-refresh-applications
omarchy-restart-walker
