[Desktop Entry]
Name=Visual Studio Code - URL Handler
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/usr/share/code/code --disable-gpu-compositing --open-url %U
Icon=vscode
Type=Application
NoDisplay=true
StartupNotify=false
Categories=TextEditor;Development;IDE;
MimeType=x-scheme-handler/vscode;
Keywords=vscode;
