[Desktop Entry]
Version=1.0
Name=OWA-Arfcom
Comment=OWA-Arfcom
Exec=omarchy-launch-webapp https://outlook.cloud.microsoft/mail/
Terminal=false
Type=Application
Icon={{ .chezmoi.homeDir }}/.local/share/applications/icons/OWA-Arfcom.png
StartupNotify=true
